<!-- Links de uma fonte personalizada -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<ion-content [fullscreen]="true">
  <swiper-container
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide>
      <img src="../../assets/img/imgs_slider/img_09.jpg" alt="">
      <h1>Ouça músicas relaxantes</h1>
      <p>Músicas para uma meditação mais imersiva</p>
    </swiper-slide>
    <swiper-slide>
      <img src="../../assets/img/imgs_slider/img_06.png" alt="">
      <h1>Relaxe o corpo</h1>
      <p>Estar em paz consigo é uma das maiores riquezas da vida</p>
    </swiper-slide>
    <swiper-slide>
      <img src="../../assets/img/imgs_slider/img_10.jpg" alt="">
      <h1>Acalme a mente</h1>
      <p>⁠Uma mente tranquila, te possibilita viver mais e fazer as melhores escolhas</p>
    </swiper-slide>
    <swiper-slide>
      <img src="../../assets/img/imgs_slider/img_08.jpg" alt="">
      <h1>Alcance a paz de espirito</h1>
      <p>Pratique yoga e deixe a tranquilidade brotar dentro de você</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
