<!-- Links de uma fonte personalizada -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row id="headerContainer">
      <ion-title id="mainTitle">Configurações</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
    <ion-item>
      <ion-icon aria-hidden="true" name="person" slot="start"></ion-icon>
      <ion-label class="label">Perfil</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="bookmark" slot="start"></ion-icon>
      <ion-label class="label">Itens salvos</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="brush" slot="start"></ion-icon>
      <ion-label class="label">Temas</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="notifications" slot="start"></ion-icon>
      <ion-label class="label">Notificações</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="time" slot="start"></ion-icon>
      <ion-label class="label">Tempo gasto</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="star" slot="start"></ion-icon>
      <ion-label class="label">Favoritos</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="download" slot="start"></ion-icon>
      <ion-label class="label">Downloads</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="language" slot="start"></ion-icon>
      <ion-label class="label">Idioma</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="help-circle" slot="start"></ion-icon>
      <ion-label class="label">Ajuda</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="alert-circle" slot="start"></ion-icon>
      <ion-label class="label">Sobre</ion-label>
      <ion-icon name="chevron-forward" id="icon2"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
